<template name="avisosPpal">
    {{> cabecera}}
    <div class="row">
        {{> avisos}}
    </div>
    {{> footer}}
</template>

<template name="avisos">
    <!-- contenido -->
    <!-- menú busqueda -->
    {{> filtroAvisos}}
    <!-- lista dummie -->
    <div class="contenidoBloque row">
        <div class="col-md-8 col-md-offset-2">

            <!-- loop items en Estudios -->
            {{> itemAvisos }}

        </div>
    </div>
</template>

<template name="itemAvisos">
    <!-- item -->
    <div class="card">
        <div class="card-header">Nombre aviso</div>
        <div class="card-block">
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate elementum magna quis mollis. Suspendisse vel elementum
                mi. Etiam condimentum imperdiet quam. Duis sem ligula, vehicula quis volutpat ut, tincidunt ut eros. Vestibulum
                condimentum mi non cursus dictum. Vestibulum ut metus nec libero rutrum pellentesque. Fusce sit amet efficitur
                enim.
            </p>
        </div>
        <div class="card-block">
            <h5>Estudio asociado</h5>
            <p class="card-text">info estudio asociado acotado.</p>

            <a href="#" class="btn btn-primary">Ir al estudio asociado</a>
        </div>

    </div>


</template>


<template name="filtroAvisos">
    <div class="nav nav-inline" style="text-align:center">
        <div class="nav-item cavisos dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Tipo de aviso</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="cs dropdown-item" data-value="{{ id }}">Promociones</a>
                <a class="cs dropdown-item" data-value="{{ id }}">Urgencias médicas</a>
                <a class="cs dropdown-item" data-value="{{ id }}">Noticias</a>
            </div>
        </div>
        <button type="button" class="nav-item limpiar btn btn-secondary-outline">Limpiar filtros</button>
    </div>
</template>