<template name="clinicasPpal">
    {{> cabecera}}
    <div class="row">
        {{> Template.dynamic template = main}}
    </div>
    {{> footer}}

</template>

<template name="clinicas">
    <!-- contenido -->
    <!-- menú busqueda -->
    {{> filtrosClinicas}}
    <!-- lista dummie -->
    <div class="contenidoBloque row">
        <div class="col-md-6 col-md-offset-3">
            <div class="list-group">
                <!-- loop items en Estudios -->
                {{> itemClinicas }}
            </div>
        </div>
    </div>
</template>

<template name="clinica">
    <!-- contenido -->
    <div class="contenidoBloque row">
        <!--columna izquierda -->
        <div class="col-sm-8">
            <!-- info clinica -->
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Nombre de la Clínica</h4>
                </div>
                <div class="card-block">
                    <h5>Servicios de la clínica</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate elementum magna quis mollis. Suspendisse vel elementum
                        mi. Etiam condimentum imperdiet quam. Duis sem ligula, vehicula quis volutpat ut, tincidunt ut eros.
                        Vestibulum condimentum mi non cursus dictum. Vestibulum ut metus nec libero rutrum pellentesque.
                        Fusce sit amet efficitur enim.
                    </p>
                </div>
            </div>
            <!-- banner -->
            <div class="card">
                <img class="card-img-top img-fluid" src="images/500x150banners.png" alt="Card image cap">
            </div>
        </div>
        <!-- columna derecha -->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Datos útiles</div>
                <img class="card-img-top img-fluid" src="images/mapa.png" alt="Card image cap">
                <div class="card-block">
                    <h5> Horarios</h5>
                    {{ horarios }}
                </div>
                <div class="card-block">
                    <h5> Contacto</h5>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="itemClinicas">
    <!-- item -->
    {{ #each clinicas }}
    <a href="#" class="list-group-item" style="text-align-center">
        <h5 class="list-group-item-heading"><a href="/clinicas/{{ nombre }}">{{nombre}}</a></h5>
        <p class="list-group-item-text">{{ calle }}</p>
    </a>
    {{/each}}
</template>