<template name="inicio">
    {{> cabecera}}
    <div id="opcionesInicio" class="row">
        {{> inicioPpal }}
    </div>
    {{> footer}}
</template>

<template name="inicioPpal">
    <!-- contenido -->
    <div class="row">
        <div class="col-sm-3">
            <div class="card ">
                <img class="card-img-top img-fluid" src="images/500x500.png" alt="Card image cap">
                <div class="card-block">
                    <p class="card-text"><a class="header" href="#">Estudios clínicos</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="images/500x500.png" alt="Card image cap">
                <div class="card-block">
                    <p class="card-text"><a class="header" href="#">Estudios clínicos</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="images/500x500.png" alt="Card image cap">
                <div class="card-block">
                    <p class="card-text"><a class="header" href="#">Estudios clínicos</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="images/500x500.png" alt="Card image cap">
                <div class="card-block">
                    <p class="card-text"><a class="header" href="#">Estudios clínicos</a></p>
                </div>
            </div>
        </div>
    </div>
</template>