<!-- filtros de la seccion clinicas -->
<template name="filtrosClinicas">
    <!-- menú busqueda -->
    <div class="nav nav-inline" style="text-align:center">
        <div class="nav-item cciudades dropdown">
            <!-- input tipo sexo -->
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Estado</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {{#each ciudades}}
                <a class="cs dropdown-item" data-value="{{@index}}">{{ this }}</a> {{/each}}
            </div>
        </div>
        <button type="button" class="nav-item limpiar btn btn-secondary-outline">Limpiar Ciudad</button>
    </div>
</template>