<template name="footer">
    <!-- footer -->
    <div id="footer" class="row">
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="" class="list-group-item">Inicio</a>
                    <a href="" class="list-group-item">Estudios Clínicos</a>
                    <a href="" class="list-group-item">Clínicas</a>
                    <a href="" class="list-group-item">Avisos</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <div class="list-group-item">Contacto</div>
                    <div class="list-group-item">Dirección 1</div>
                    <div class="list-group-item">Dirección 2</div>
                    <div class="list-group-item">teléfono</div>
                    <a href="" class="list-group-item">email</a>
                </div>
            </div>
            <div class="col-sm-4">
                iconos social            
            </div>
    </div>
</template>

<!-- footer Panel de Control -->
<template name="footerPC">
    <div id="footerPC" class="row">
        Footer panel de control
    </div>
</template>