<template name="estudiosPpal">
    {{> cabecera}}
    <div class=" row">
        {{> Template.dynamic template = main}}
    </div>
    {{> footer}}
</template>

<template name="estudios">
    <!-- contenido -->
    <!-- menú busqueda -->
    {{> filtrosEstudios }}
    <!-- lista dummie -->
    <div class="contenidoBloque row">
        <div class="col-md-6 col-md-offset-3">
            <div class="list-group">
                <!-- loop items en Estudios -->
                {{> itemEstudios }}
            </div>
        </div>
    </div>
</template>

<template name="estudio">
    <!--contenido -->
    <div class="contenidoBloque row">
        <!--columna izquierda -->
        <div class="col-sm-8">
            <!-- info clinica -->
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{#if estudios}} {{ estudios.titulo }} {{/if}}</h4>
                    <h5>Informacion</h5>
                    <p class="card-text">{{ estudios.descripcion }}</p>
                </div>
                {{#if estudios.requisitos }}
                <div class="card-block">
                    <h5>Requisitos</h5>
                    <p class="card-text">{{ estudios.requisitos }}</p>
                </div>
                {{/if }}
            </div>
            <!-- banner -->
            <div class="card">
                <img class="card-img-top img-fluid" src="images/500x150banners.png" alt="Card image cap">
            </div>
        </div>
        <!-- columna derecha -->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Clínicas que ofrecen éste estudio</div>
                <div class="list-group">
                    <!-- item -->
                    <a href="#" class="list-group-item">
                        <div class="list-group-item-heading">Clinica 1</div>
                        <p class="list-group-item-text">Dirección</p>
                    </a>
                    <!-- item -->
                    <a href="#" class="list-group-item">
                        <div class="list-group-item-heading">Clinica 2</div>
                        <p class="list-group-item-text">Dirección</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Precio</div>
                <div class="card-block">
                    <p class="card-text">precios al cosumidor</p>
                    <h2>{{ estudios.precio }}</h2>
                </div>
                {{#if estudios.esPromo }}
                <div class="card-block">
                    ico corazon
                    <p> <i class="wait icon"></i> promoción válida hasta el 20/12/2017</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="itemEstudios">
    <!-- item -->
    {{#each estudios }}
    <a href="#" class="list-group-item" style="text-align-center">
        <h5 class="list-group-item-heading"><a href="/estudios/{{ titulo }}">{{titulo }}</a></h5>
        <p class="list-group-item-text">{{ descripcion }}</p>
        {{#if esPromo}}Promo{{/if}}
    </a>
    {{/each}}
</template>