<template name="panelControlPpalEstudios">
  <!-- menú busqueda -->
  {{> filtrosEstudios }}
  <!-- contenido -->
  <div class="contenidoBloque row">
    <form id="formularioEstudios" class="form">
      {{> listaPC }} {{#if pantallaInicio}} {{> vacio }} {{else}} {{> detallesPC }} {{/if}}
    </form>
  </div>
</template>

<template name="listaPC">
  <!-- lista dummie -->
  <div class="col-sm-3">
    <h5>Estudios publicados</h5>
    <!-- lista dummie -->
    <div class="list-group" id="contenidoFormPC">
      <!-- loop items en Estudios -->
      {{#each estudios }}
      <div class="list-group-item">
        <a class="list-group-item-heading selPC" data-value="{{titulo}}">{{titulo}}</a>
        <p class="list-group-item-text">{{ descripcion }}</p>
        {{#if esPromo}}espromo{{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="detallesPC">
  <!-- formularios de edición -->
  <div class="col-sm-5">
    <h5>Datos generales</h5>
    <fieldset class="form-group  has-danger">
      <label>Nombre del estudio</label> {{estudios.titulo}}
      <input class="form-control" type="text" name="titulo" placeholder="{{estudios.titulo}}">
      <small class="text-muted form-control-danger">El nombre del estudio es obligatorio</small>
    </fieldset>
    <fieldset class="form-group">
      <label>Información</label>
      <textarea class="form-control" name="descripcion" rows="4" placeholder="{{ estudios.descripcion }}"></textarea>
      <label>Requisitos</label>
      <textarea class="form-control" name="requisitos" rows="4" placeholder="{{ estudios.requisitos }}"></textarea>
    </fieldset>
  </div>
  <!-- Columna precios y filtros -->
  <div class="col-sm-4">
    <h5>Filtros</h5>
    <form class="form-inline">
      <div class="form-group">
        <div class="nav-item csexo dropdown ">
          <!-- input tipo sexo -->
          <input class="form-control" name="sexoLista " type="hidden">
          <button class="btn btn-secondary dropdown-toggle " type="button " id="dropdownMenu10 " data-toggle="dropdown" aria-haspopup="true "
            aria-expanded="false ">{{ selSexo }}</button>
          <div class="dropdown-menu " aria-labelledby="dropdownMenu10 ">
            {{#each tipoSexo}}
            <a class="cs dropdown-item " data-value="{{ id }} ">{{ texto }}</a> {{/each}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="nav-item cestudio dropdown">
          <!-- input tipo -->
          <input class="form-control" name="tipo" type="hidden">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{ estudios.tipo }}</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {{#each tipoEstudio}}
            <a class="cs dropdown-item" data-value="{{ id }}">{{ texto }}</a> {{/ each}}
          </div>
        </div>
      </div>
    </form>
    <h5>Precio</h5>
    <fieldset class=" form-group" disabled="{{#if selPromo}}disabled{{/if}}">
      <label>Precio</label>
      <input class="form-control" type="text" name="precio" placeholder="{{ estudios.precio }}">
      <!-- sección promocion -->
    </fieldset>
    <fieldset class="form-group">
      <div class="checkbox">
        <label>
         <input class="sliderPromo" name="esPromoCheck " type="checkbox" checked="{{#if selPromo}}checked{{/if}}">
        Estudio en promoción
       </label>
      </div>
    </fieldset>
    <fieldset class=" form-group" disabled="{{#unless selPromo}}disabled{{/unless}}">


      <label>Precio en promoción</label>
      <input class="form-control " type="text " name="precioPromo " placeholder="añadir precio en DB ">
    </fieldset>
    {{> botonesOpciones }}
  </div>
</template>

<template name="botonesOpciones ">
  <div id="botonesSubmit" class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secundary">Cancelar cambios</button>
    <button type="button" class="btn btn-danger ">Eliminar</button>
    <button type="submit" class="btn btn-primary btnguardar">Guardar</button>
  </div>
</template>